{% extends "Proyect/baseTeams.html.twig" %}

{% block contenido %}
	<h2>Listado de Equipos
	</h2>
	<div class="row row-cols-1 row-cols-md-2">
		{% for team in listTeams %}
			<div class="col mb-4">
				<div class="card" style="width: 400px;">
					<img src="{{ team.img }}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{ team.name }}</h5>
						<p class="card-text">{{ team.description }}</p>
						<a href="{{ path('getTeam', {'id': team.id}) }}" class="btn btn-primary">Más Info</a>
						{% if is_granted("ROLE_ADMIN")%}
							<a href="{{ path('editTeam', {'id': team.id}) }}" class="btn
																																																																																                        btn-primary">Editar</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
